<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Contact</title>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">My Website</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/add-contact">Add Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logout-btn" href="#">Logout</a>
            </li>
          </ul>
        </div>
      </nav>

    <div class="container mt-5">
      <h1 class="mb-4">Edit Contact</h1>
      <form method="POST" action="/api/user/update/<%=contact._id %>">
        <div class="form-group">
          <label for="contactName"><%=contact._id%></label>
          <input
            type="text"
            class="form-control text-uppercase"
            id="contactName"
            name="contactName"
            required
            placeholder="Contact Name"
            value="<%= contact.contactName%>"
          />
        </div>
        <div class="form-group">
          <label for="contactNumber">Contact Number</label>
          <input
            type="tel"
            class="form-control"
            id="contactNumber"
            name="contactNumber"
            required
            placeholder="Contact Number"
            value="<%= contact.contactNumber%>"
          />
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="text"
            class="form-control"
            id="email"
            name="email"
            required
            placeholder="Email"
            value="<%= contact.email%>"
          />
        </div>
        <button type="submit" class="btn btn-primary">Edit Contact</button>
      </form>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-gJjK1+XJJMlDtt/8whb1jJchcG+TuzgFOI2LSSsOGsKsI1gXaMNzwDfsfvfHjKGV"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEENeEXI3oZ5kkuEIljKTF"
      crossorigin="anonymous"
    ></script>
    <script>
      // get the token passed from the server
      
      document.querySelector("#logout-btn").addEventListener("click", () => {
        localStorage.removeItem("token");
        location.assign("https://fine-plum-hermit-crab-hose.cyclic.app");
      });
    </script>
  </body>
</html>
